@if (isShowTask) {
<button class="button-task" (click)="showTask()">Projetos</button>
<div class="title">Tarefas: {{ project?.name || ''}}</div>
<app-task [project]="project"></app-task>
} @else {
<div class="container-project">
    <div class="titulo-project">Projetos</div>
    <button (click)="modal.abrir()" class="botao-add">+ Criar Projeto</button>
</div>
<div class="container">
    @for (item of projects(); track item.name) {
    <div class="card">
        <div class="card-title">
            <h2 class="nome">{{ item.name }}</h2>
            <button class="button-task" (click)="showTask(item)">Tarefas</button>
        </div>

        <p class="descricao">{{ item.description }}</p>
    </div>
    } @empty {
    <div class="container-center">
        <p>Nenhum projeto</p>
    </div>
    }
</div>
}

<app-modal #modal titulo="Novo Projeto" style="color: gray;">
    <form [formGroup]="form">
        <div class="input-group">
            <label for="name">Nome do projeto</label>
            <input type="text" name="name" formControlName="name">
        </div>
        @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <div class="required-value">Nome é obrigatório.</div>
        }

        <div class="input-group">
            <label for="description">Descrição</label>
            <textarea rows="3" name="description" placeholder="Descrição projeto" required
                formControlName="description"></textarea>
        </div>
        @if (form.get('description')?.invalid && form.get('description')?.touched) {
        <div class="required-value">Descrição é obrigatório.</div>
        }

        <div class="container-modal">
            <button class="cancel-button" (click)="modal.fechar()">Cancelar</button>
            <button type="submit" class="login-button" (click)="salvar(modal)">Criar</button>
        </div>
    </form>
</app-modal>