<div class="card">
    <div class="card-input">
        <form [formGroup]="form">
            <div class="input-group">
                <label for="nameProject">Título</label>
                <input type="text" name="nameProject" formControlName="title">
            </div>

            @if (form.get('title')?.invalid && form.get('title')?.touched) {
            <div class="required-value">Título é obrigatório.</div>
            }

            <div class="container-modal">
                <button (click)="salvar()" class="button-add">Criar</button>
            </div>
        </form>
    </div>

    <div class="card-cor">
        <div>Cor</div>
        <div class="row-colors">
            @for (cor of colors(); track cor.id) {
            <div class="small-card" [ngStyle]="getStyle(cor)" (click)="selectColor(cor)">
                @if (cor.selected) {
                <span class="check">✓</span>
                }
            </div>
            }
        </div>
    </div>
</div>

<div class="item">
    @for (item of categorys(); track item.id) {
    <div class="color-category">
        <div class="card-category" [ngStyle]="getStyleColor(item)"></div>
        <h2 class="nome">{{ item.name }}</h2>
    </div>

    } @empty {
    <div class="container-center">
        <p>Nenhum cor</p>
    </div>
    }
</div>