<div class="card">
    <div class="card-input">
        <form (ngSubmit)="salvar()">
            <div class="input-group">
                <label for="nameProject">Título</label>
                <input type="text" name="nameProject" [(ngModel)]="projectData.nameTask" required>
            </div>

            <div class="container-modal">
                <button type="submit" class="button-add">Criar</button>
            </div>
        </form>
    </div>

    <div class="card-cor">
        <div>Cor</div>
        <div class="row-colors">
            @for (cor of colors(); track cor.id) {
            <div class="small-card" [ngStyle]="getStyle(cor)" (click)="selectColor(cor)">
                @if (cor.selected) {
                <span class="check">✓</span>
                }
            </div>
            }
        </div>
    </div>
</div>

<div class="item">
    @for (item of categorys(); track item.id) {
    <h2 class="nome">{{ item.name }}</h2>
    } @empty {
    <div class="container-center">
        <p>Nenhum cor</p>
    </div>
    }
</div>